body {
    margin:0;
	background-image: url("img/wallpaper.jpg") ;
	background-position: top;
	background-repeat: no-repeat; 
}
a{
	color: white;
	text-decoration: none;
}
a:visited{
	color: silver;
}
}
.transbox {
  margin: 20px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
}
.loader{
    margin:auto ;
    border-radius:50%;
    border:15px solid gray;
    border-left: 15px solid red;
    width:100px;
    height:100px;
    box-sizing:border-box;
    position:fixed;
    left:0;
    top:0;
    right:0;
    bottom:0;
    animation: rotate 1s linear infinite, fade 1s linear 2s forwards;
}

.content{
	height: 22vh;
    opacity: 0;
    animation: show 1s linear 2s forwards;
    font-family: arial;
    font-size: 30px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content2{
	height: 0vh;
	color: #fff;
	font-size: 12px;
	line-height: 2px ; 
	opacity: 0;
	animation: show 1s linear 2s forwards;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: arial;

}
.links{
	height: 0vh;
	font-size: 20px;
	line-height: 2px ; 
	opacity: 0;
	animation: show 1s linear 2s forwards;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: arial;
}
.img{
	height: 25vh;
	opacity: 0;
	line-height: 2px;
	animation: show 1s linear 2s forwards;
	display: flex;
	align-items: center;
	justify-content: center;
}
.discord{
	height: 100vh;
	animation: show 1s linear 2s forwards;
	opacity: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
@keyframes rotate{
    from{transform:rotate(0deg);}
    to{transform:rotate(360deg);}
}
@keyframes fade{
    from {opacity:1;}
    to{opacity:0;}
}
@keyframes show{
    from {opacity:0;}
    to{opacity:1;}
}