body {
    margin: auto;
	background-image: url("img/wallpaper.jpg");
	background-position: auto;
	background-size: auto;
	background-repeat: no-repeat; 
}
a{
	color: white;
	text-decoration: none;
}
a:visited{
	color: silver;
}
.transbox {
  margin: 20px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
}
.loader{
    margin:auto ;
    border-radius:50%;
    border:15px solid gray;
    border-left: 15px solid red;
    width:100px;
    height:100px;
    box-sizing:border-box;
    position:fixed;
    left:0;
    top:0;
    right:0;
    bottom:0;
    animation: rotate 1s linear infinite, fade 1s linear 2s forwards;
}
.content{
	position: absolute;
	transform: translate(-50%, -50%);
	top: 20%;
	left: 50%;
    opacity: 0;
    animation: show 1s linear 2s forwards;
    font-family: arial;
    font-size: 30px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content2{
	position: absolute;
	transform: translate(-50%, -50%);
	top: 24%;
	left: 50%;
	color: #fff;
	font-size: 12px;
	line-height: 2px ; 
	opacity: 0;
	animation: show 1s linear 2s forwards;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: arial;

}
.content3{
	position: absolute;
	transform: translate(-50%, -50%);
	top: 85%;
	left: 50%;
	color: #fff;
	font-size: 20px;
	line-height: 2px ; 
	animation: show 1s linear 2s forwards;
	opacity: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: arial;
}
.content4{
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	color: #fff;
	font-size: 40px;
	line-height: 2px ; 
	animation: show 1s linear 2s forwards;
	opacity: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: arial;
}
.links{
	position: absolute;
	transform: translate(-50%, -50%);
	top: 90%;
	left: 50%;
	font-size: 20px;
	line-height: 2px ; 
	opacity: 0;
	animation: show 1s linear 2s forwards;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: arial;
}
.links2{
	position: absolute;
	transform: translate(-50%, -50%);
	top: 95%;
	left: 50%;
	font-size: 20px;
	line-height: 2px ; 
	opacity: 0;
	animation: show 1s linear 2s forwards;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: arial;
}
.links3{
	position: absolute;
	transform: translate(-50%, -50%);
	top: 80%;
	left: 50%;
	font-size: 20px;
	line-height: 2px ; 
	opacity: 0;
	animation: show 1s linear 2s forwards;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: arial;
}
.links4{
	position: absolute;
	transform: translate(-50%, -50%);
	top: 85%;
	left: 50%;
	font-size: 30px;
	line-height: 2px ; 
	opacity: 0;
	animation: show 1s linear 2s forwards;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: arial;
}
.img{
	position: absolute;
	transform: translate(-50%, -50%);
	top: 35%;
	left: 50%;
	opacity: 0;
	line-height: 2px;
	animation: show 1s linear 2s forwards;
	display: flex;
	align-items: center;
	justify-content: center;
}
.discord{
	position: absolute;
	transform: translate(-50%, -50%);
	top: 40%;
	left: 50%;
	animation: show 1s linear 2s forwards;
	opacity: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
@keyframes rotate{
    from{transform:rotate(0deg);}
    to{transform:rotate(360deg);}
}
@keyframes fade{
    from {opacity:1;}
    to{opacity:0;}
}
@keyframes show{
    from {opacity:0;}
    to{opacity:1;}
}